<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="searchUserListComponent.css">
</head>

<body>
    <table class="searchUserListTable">
        <colgroup>
            <col style="width: 32px;">
            <col style="width: 100px;">
            <col style="width: 70px;">
            <col style="width: 100px;">
            <col style="width: 150px;">
            <col style="width: 120px;">
            <col style="width: 60px;">
        </colgroup>
        <tr>
            <th><input type="checkbox"></th>
            <th>등록일</th>
            <th>이름</th>
            <th>아이디</th>
            <th>휴대전화</th>
            <th>성별</th>
            <th>나이</th>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>2018.12.12</td>
            <td>kimsb</td>
            <td>kimsb1387</td>
            <td>010-7180-4533</td>
            <td>남</td>
            <td>27</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>2018.12.12</td>
            <td>kimsb</td>
            <td>kimsb1387</td>
            <td>010-7180-4533</td>
            <td>남</td>
            <td>27</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>2018.12.12</td>
            <td>kimsb</td>
            <td>kimsb1387</td>
            <td>010-7180-4533</td>
            <td>남</td>
            <td>27</td>
        </tr>
    </table>
</body>

</html>