<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="searchOptionComponent.css">
</head>

<body>

    <div class="searchTableComponent">
        <div>
            <h1>회원정보 조회</h1>
        </div>
        <div>
            <table class="searchOptionTable" border="1px">
                <colgroup>
                    <col style="width:145px;">
                    <col style="width:auto;">
                </colgroup>
                <tr>
                    <th>개인정보</th>
                    <td>
                        <select name="" id="">
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                        </select>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <th>개인정보</th>
                    <td>
                        <select name="" id="">
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                        </select>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <th>개인정보</th>
                    <td>
                        <select name="" id="">
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                        </select>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <th>개인정보</th>
                    <td>
                        <select name="" id="">
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                        </select>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <th>개인정보</th>
                    <td>
                        <select name="" id="">
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                            <option value="">default</option>
                        </select>
                        <input type="text">
                    </td>
                </tr>
            </table>
            <div class="searchButton">
                <button>검색</button>
            </div>
        </div>
    </div><!-- .searchTableComponent end -->
</body>

</html>