<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <style>
        .searchComponent {
            font-size: 0px;
        }
        .searchComponent input {
            float: left;
            height: 22px;
            border: 1px solid #d3d3d3;
            padding: 0 6px;
            font-size: 12px;
        }
        .searchComponent button {
            width: 39px;
            height: 24px;
            border: 0 none;
            color: white;
            background-color: #1c7ed6;
        }
    </style>
    <div class="searchComponent">
        <input type="text">
        <button>검색</button>
    </div>
</body>
</html>